<div class="main">
  <input type="text" id="edit-title" placeholder="Title">
  <input type="text" id="edit-url" placeholder="URL">
  <textarea type="text" id="edit-description" placeholder="Description">
  <input type="text" id="edit-genre" placeholder="Genre">
  </textarea>
  <button id="edit-video">Edit</button>
</div>