<div class="header">
  <h1>MEMETUBE</h1>

<div class="main">
<ul id="video-list"></ul>
  <input type="text" id="new-title" placeholder="Title">
  <input type="text" id="new-url" placeholder="URL">
  <input type="text" id="new-genre" placeholder="Genre">
  <textarea type="text" id="new-description" placeholder="Description"></textarea>
  <button id="submit-video">Submit Video</button>
</div>