<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Memetube</title>
  </head>
  <body>
  
  <h1>MEMETUBE YouTube Ripoff!</h1>
    
    <%= yield %>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/script.js"></script>
  </body>
</html>